@keyframes pulse{
    from{
        transform: scale(1);
        opacity: 0.5;
    }
    to{
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes rotate-right{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate-left{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}