@media (min-width: 992px) {

  h1.company-name{
    font-size: 6rem;
  }
  .header {
    grid-template-rows: auto repeat(2, 1fr);

    &__text {
      grid-row: 2 / 4;
      grid-column: 1/2;

      p {
        font-size: 1.8rem;
      }
    }
    &__img {
      grid-row: 1 / 4;
      grid-column: 2/3;
    }
    &__arrow {
      display: block;
      position: absolute;
      bottom: 3em;
      left: 48%;
      padding: 2em;
      transform: translateX(-50%);
      border: 1px solid $white;
      border-radius: 50%;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid $white;
        border-radius: 50%;
        animation: pulse 2s infinite;
      }
    }
    &__arrow-icon {
      width: 50px;
    }
    &__bg-icon-one {
      left: 6em;
      bottom: 8em;
      width: 10%;
    }
    &__bg-icon-two {
      display: block;
      top: 10em;
      left: 35%;
      width: 5%;
      animation: rotate-left 55s infinite linear;
    }
  }

  .nav {
    grid-column: 1/2;
    grid-row: 1/2;
    &-desktop {
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__link {
      color: $white;
      
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $gold;
        opacity: 0;

    }
    &:hover::before{
        animation: pulse 1s;
    }
    }
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 1200px) {

  .header{
    &__text{
      p{
        font-size: 2.2rem;
      }
    }
  }

}
