@media (min-width: 768px) {
  .cards {
    &__box {
      padding: 10em 2em;
    }
    &__card {
      &--one {
        grid-row: 1/2;
        grid-column: 1/4;
      }
      &--two {
        grid-row: 1/2;
        grid-column: 4/7;
      }
      &--three {
        grid-row: 1/2;
        grid-column: 7/10;
      }
    }
  }

  .plans {
    padding: 8em 2em;
    &__box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
    }
    &__item {
      margin: 0 1em;
    }
    &__item-name {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .newsletter {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    &__text {
      margin-bottom: 0;
    }
    &__form {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 20px;
      input {
        margin-bottom: 0;
      }
    }
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    img {
      &:nth-child(odd){
        display: block;
      }
    }
  }
.contact{
  &__form{
   gap: 30px;
  }
  &__form-box{
    &:nth-child(1){
      grid-column: 1/4;
      grid-row: 1/2;
    }
    &:nth-child(2){
      grid-column: 4/7;
      grid-row: 1/2;
    }
    &:nth-child(3){
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  }
  &__form-btn{
    grid-row: 3/4;
  }
}


}
