@media (min-width: 768px) {
  .cards {
&__box{
    padding: 10em 2em;
}
    &__card {

    &--one {
      grid-row: 1/2;
      grid-column: 1/4;
    }
    &--two {
      grid-row: 1/2;
      grid-column: 4/7;
    }
    &--three {
      grid-row: 1/2;
      grid-column: 7/10;
    }
  }
}

.plans{
  padding: 8em 2em;
  &__box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
  }
  &__item{
    margin: 0 1em;

  }
  &__item-name{
    margin-top: 0;
    margin-bottom: 0;
  }
}
}
