@media (min-width: 576px) {
  .info {
    grid-template-areas: 
    " title box"
    " title box"
    " title box";
    padding: 10em 2em;
    &__box {
      display: grid;
      justify-content: end;
    }
    &__title {
      padding: 0 1em;
    }
    &__box-img,
    &__box-text {
      max-width: 500px;
    }
    &__bg-icon{
        position: absolute;
        display: block;
        opacity: .05;
        z-index: -5;

        &--one{
            top: 14%;
            width: 18%; 
            right: 90%;
            animation: rotate-right 160s infinite linear;
        }
        
        &--two{
            bottom: 10%;
            left: 10%;
            width: 22%;
            animation: rotate-left 140s infinite linear;
        }
        &--three{
            top: 35%;
            left: 4%;
            width: 30%;
            animation: rotate-left 160s infinite linear;
        }
        &--four{
            top: 55%;
            left: 35%;
            width: 15%;
            animation: rotate-right 140s infinite linear;
        }
    }
  }
}
