@import "./colors";
@import "./animations";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  // font-family: 'Cinzel', serif;
  font-style: 1.6rem;
  color: $white;
  background-color: $dark;
  //  overflow: hidden;
}

h1.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-family: "Cinzel", serif;
  color: $gold;
}

.wrapper {
  margin: 0 auto;
  min-width: 1200px;
  width: 100%;
}

// header

.header {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  overflow: hidden;

  &__text {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row: 2 / 3;
    grid-column: 1/3;
    padding: 2em;

    p {
      font-weight: 200;
    }
  }
  &__img {
    position: relative;
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: sepia();
    background-image: url(/img/bitcoin-g31cf13317_640.jpg);
  }
  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__arrow {
    display: none;
  }
  &__bg-icon-one,
  &__bg-icon-two {
    position: absolute;
    opacity: 0.05;
    z-index: -5;
  }
  &__bg-icon-one {
    bottom: 2em;
    right: -3em;
    width: 50%;
    animation: rotate-right 55s infinite linear;
  }
  &__bg-icon-two {
    display: none;
  }
}

.hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
  &-inner,
  &-inner::before,
  &-inner::after {
    background-color: $white;
    z-index: 500;
  }
}

.nav {
  &-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    z-index: 10;
    transform: translateX(-102%);
    transition: transform 0.3s;

    &--active {
      transform: translateX(0);
    }
  }
  &-desktop {
    display: none;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 2.3rem;
    color: $darker;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: $gold;
    }
  }
}

// main
// cards

.cards {
  background-color: $darker;
  overflow: hidden;

  &__box {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2em;
    padding: 6em 2em;
  }
  &__card {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 3em;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: $dark;
    transition: background-color 0.3s, border 0.3s;
    z-index: 5;

    &:hover {
      background-color: $darker;
      border: 1px solid $gold;
      z-index: 1;
    }
    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border: 1px solid $gold;
      border-radius: 8px;
      opacity: 0;
    }
    &:hover::before{
      animation: pulse 1s;
    }
    img{
      margin-bottom: 1em;
      width: 60px;
    }
    h3{
      margin-bottom: 0.6em;
      text-transform: uppercase;
    }
    &--one{
      grid-row: 1/2;
      grid-column: 1/-1;
    }
    &--two{
      grid-row: 2/3;
      grid-column: 1/-1;
    }
    &--three{
      grid-row: 3/4;
      grid-column: 1/-1;
    }
  }
}

@import "./small";
@import "./medium";
@import "./large";
