@import "./colors";
@import "./animations";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  // font-family: 'Cinzel', serif;
  font-style: 1.6rem;
  color: $white;
  background-color: $dark;
  //  overflow: hidden;
}

h1.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-family: "Cinzel", serif;
  color: $gold;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-title {
  position: relative;
  margin: 0 auto 2em;
  font-size: 3.2rem;
  color: $gold;
  font-weight: 200;
  width: fit-content;

  &::before {
    position: absolute;
    content: "";
    bottom: -0.1em;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: $gold;
  }
  span {
    font-weight: 900;
  }
}

// header

.header {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  overflow: hidden;

  &__text {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-row: 2 / 3;
    grid-column: 1/3;
    padding: 2em;

    p {
      font-weight: 200;
    }
  }
  &__img {
    position: relative;
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: sepia();
    background-image: url(/img/bitcoin-g31cf13317_640.jpg)
  }
  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__arrow {
    display: none;
  }
  &__bg-icon-one,
  &__bg-icon-two {
    position: absolute;
    opacity: 0.05;
    z-index: -5;
  }
  &__bg-icon-one {
    bottom: 2em;
    right: -3em;
    width: 50%;
    animation: rotate-right 55s infinite linear;
  }
  &__bg-icon-two {
    display: none;
  }
}

.hamburger {
  position: absolute;
  position: fixed;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
  &-inner,
  &-inner::before,
  &-inner::after {
    background-color: $white;
    z-index: 500;
  }
}

.nav {
  &-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    z-index: 10;
    transform: translateX(-102%);
    transition: transform 0.3s;
    

    &--active {
      transform: translateX(0);
     
    }
  }
  &-desktop {
    display: none;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 2.3rem;
    color: $darker;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    transform: scale(1, 1);
    &:hover {
      color: $gold;
      transform: scale(1.05, 1.07);
    }
  }
}

// main
// cards

.cards {
  background-color: $darker;
  overflow: hidden;

  &__box {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2em;
    padding: 6em 2em;
  }
  &__card {
    position: relative;
    display: grid;
    justify-items: center;
    padding: 3em;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: $dark;
    transition: background-color 0.3s, border 0.3s;
    z-index: 5;

    &:hover {
      background-color: $darker;
      border: 1px solid $gold;
      z-index: 1;
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border: 1px solid $gold;
      border-radius: 8px;
      opacity: 0;
    }
    &:hover::before {
      animation: pulse 1s;
    }
    img {
      margin-bottom: 1em;
      width: 60px;
    }
    h3 {
      margin-bottom: 0.6em;
      text-transform: uppercase;
    }
    &--one {
      grid-row: 1/2;
      grid-column: 1/-1;
    }
    &--two {
      grid-row: 2/3;
      grid-column: 1/-1;
    }
    &--three {
      grid-row: 3/4;
      grid-column: 1/-1;
    }
  }
}

//info
.info {
  position: relative;
  display: grid;
  grid-template-areas:
    "title title title"
    "box box box"
    "box box box";
  padding: 6em 2em;
  &__title {
    grid-area: title;
  }
  &__boxes {
    grid-area: box;
  }
  &__box-img {
    widows: 100%;
    object-fit: cover;
    filter: sepia();
  }
  &__box-title {
    margin: 0.3em 0;
    font-size: 2.6rem;
    color: $gold;
    font-weight: 200;
    text-transform: uppercase;
  }
  &__box-text {
    margin-bottom: 0.5em;
  }
  &__box-link {
    display: block;
    margin-bottom: 2em;
    font-weight: bold;
    color: $gold;
    text-align: right;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: $darkgold;
    }
  }
  &__bg-icon {
    display: none;
  }
}

//plans

.plans {
  padding: 6em 2em;
  background-color: $darker;

  &__box {
    margin: 1em 0;
    padding: 2em 1em;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: $dark;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: $darker;
      border: 1px solid $gold;
    }
  }
  &__item {
    margin: 1em 0;
  }
  &__item-icon {
    width: 50px;
  }
  &__item-name {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 1.8rem;
    color: $gold;
  }
}

//newsletter

.newsletter {
  padding: 8em 2em;
  background-color: $red;
  text-align: center;
  &__text {
    padding: 1em;
    margin-bottom: 1em;
    font-size: 4rem;
    font-weight: 400;
  }
  &__form {
    input {
      margin-bottom: 1em;
      padding: 1em;
      width: 100%;
      background-color: $white;
      border: 1px solid transparent;
    }
    button {
      padding: 1em;
      border: 1px solid $gold;
      font-weight: bold;
      background-color: $red;
      color: $white;
      cursor: pointer;
      transition: background-color 0.3, color 0.3s;
      &:hover {
        color: $red;
        background-color: $gold;
      }
    }
  }
}

//gallery
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;

    &:nth-child(odd) {
      display: none;
    }
  }
}

//contact
.contact {
  padding: 6em 2em;

  &__form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  &__form-box {
    label {
      display: block;
      margin-bottom: 0.5em;
      font-style: 2rem;
    }
    textarea {
      max-width: 100%;
      width: 100%;
      min-width: 100%;
    }
    input,
    textarea {
      padding: 1em 2em;
      margin-bottom: 2em;
      width: 100%;
      color: $white;
      background: none;
      border: 1px solid rgba(255, 255, 255, 0.1);
      &:focus{
        outline: none;
        border: 1px solid $gold;
      }
    }
    &:nth-child(1){
      grid-column: 1/-1;
      grid-row: 1/2;
    }
    &:nth-child(2){
      grid-column: 1/-1;
      grid-row: 2/3;
    }
    &:nth-child(3){
      grid-column: 1/-1;
      grid-row: 3/4;
    }
  }
  &__form-btn{
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 1em;
    border: 1px solid $gold;
    background: none;
    font-weight: bold;
    color: $gold;
    cursor: pointer;
    transition: background-color 0.3, color 0.3s;
    &:hover, &:focus{
      outline: none;
      color: $dark;
      background-color: $gold;
    }
  }
}

footer {
  padding: 3em 1em;
  border-top: 1px solid $darker;
  text-align: center;
  font-size: 12px;
}

@import "./small";
@import "./medium";
@import "./large";
